$themes: (
        default: (
                btn-bg-color:#508CEE,

        ),
        light: (
                btn-bg-color:red
        ),
        th1:(
                btn-bg-color:blue
        )
);


